<h1>My Addresses</h1>

@model List<AddressViewModel>



@foreach (var item in Model)
{
    <br />
    <div class="card">
        <h5 class="card-header">Address Name: @item.AddressName </h5>
        <div class="card-body">
            <p class="card-title">Id: @item.Id</p>
            <p class="card-title">Country Name: @item.CountryName</p>

            <p class="card-title">City Name: @item.CityName</p>
            <p class="card-title">Town Name: @item.TownName</p>
            <p class="card-title">District Name: @item.DistrictName</p>
            <p class="card-title">Post Code: @item.PostCode</p>
            <p class="card-title">Address Detail: @item.AddressText</p>
            
        </div>
        <div style="margin:10px"><a class="btn btn-primary" asp-controller="dashboard" asp-action="UpdateAddress" asp-route-id="@item.Id">Update</a></div>
        <div style="margin:10px"><a class="btn btn-danger" asp-controller="dashboard" asp-action="RemoveAddress" asp-route-id="@item.Id">Delete</a></div>


    </div>

    <br />
    <br />
}
